<div class="form-group">
    <label class="control-label">Name : </label>
    <span class="help-block">{{ account.name }}</span>
</div>
<div class="form-group">
    <label class="control-label">Description : </label>
    <span class="help-block">{{ account.description }}</span>
</div>
<div class="form-group">
    <label class="control-label">Dashboard Url : </label>
    <span class="help-block">{{ account.dashboardurl }}</span>
</div>
<div class="form-group">
    <label class="control-label">Current Activity Url : </label>
    <span class="help-block">{{ account.currentactivityurl }}</span>
</div>
<div class="form-group">
    <label class="control-label">History Activity Url : </label>
    <span class="help-block">{{ account.historyactivityurl }}</span>
</div>
<div class="form-group">
    <label class="control-label">Nexus Report Url : </label>
    <span class="help-block">{{ account.nexusreporturl }}</span>
</div>