{% extends 'base.html.twig' %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="card card-wizard" id="wizardCard">
				<form id="wizardForm" method="POST" action="updateconfig">
					<div class="text-center">
						<img src="{{  asset('img/'~asset_image_login) }}"  />
					</div>
					<div class="card-header text-center">
						<h4 class="card-title">Configuration</h4>
					</div>
					<div class="card-content">
						<ul class="nav">
							<li><a href="#tab5" data-toggle="tab">Instructions</a></li>
							<li><a href="#tab1" data-toggle="tab">Database</a></li>
							<li><a href="#tab2" data-toggle="tab">S3</a></li>
							<li><a href="#tab3" data-toggle="tab">Athena</a></li>
							<li><a href="#tab4" data-toggle="tab">Queue</a></li>
							<li><a href="#tab6" data-toggle="tab">Notification</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane" id="tab5">
								<h5 class="text-center">Please read the instructions carefully before proceeding.</h5>
								<div class="row">
									1. Create S3, SQS, Athena services and SNS topic.<br />
									2. Create Aurora database and ensure access to it from public addresses.<br />
									3. Provide the details asked in forthcoming steps respectively for successful installation.
								</div>
								<div id="error_contents" class="row error">
									{{  error | raw}}
								</div>
							</div>
							<div class="tab-pane" id="tab1">
								<h5 class="text-center">Provide the configurations by completing this wizard.</h5>
								<div class="row">
									<div class="col-md-5 col-md-offset-1">
										<div class="form-group">
											<label class="control-label">
												Host Name<star>*</star>
											</label>
											<input class="form-control"
												   type="text"
												   name="rdbms_host"
												   required="true"
												   value="{{rdbms_host}}" />
										</div>
									</div>
									<div class="col-md-5">
										<div class="form-group">
											<label class="control-label">
												Database<star>*</star>
											</label>
											<input class="form-control"
												   type="text"
												   name="rdbms_dbname"
												   required="true"
												   value="{{rdbms_dbname}}" />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-5 col-md-offset-1">
										<div class="form-group">
											<label class="control-label">
												Username<star>*</star>
											</label>
											<input class="form-control"
												   type="text"
												   name="rdbms_user"
												   required="true"
												   value="{{rdbms_user}}"/>
										</div>
									</div>
									<div class="col-md-5">
										<div class="form-check">
											<label class="control-label">
												Password<star>*</star>
											</label>
											<input class="form-control"
												   type="password"
												   name="rdbms_password"
												   required="true"
												   value="{{rdbms_password}}"
											/>
										</div>
									</div>
								</div>
								<!-- This will be displayed later when functionality to update a configuration is added -->
								<div class="row hidden">
									<div class="col-md-10 col-md-offset-1">
										<div class="form-check">
											<label class="form-check-label">
												<input type="checkbox" value="1" class="form-check-input" name="setupdb" checked="checked"/>&nbsp;Setup new database (This will delete any existing data in the provided database)
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab2">
								<h5 class="text-center">Provide the configurations by completing this wizard.</h5>
								<div class="row">
									<div class="col-md-5 col-md-offset-1">
										<div class="form-group">
											<label class="control-label">
												Key<star>*</star>
											</label>
											<input class="form-control"
												   type="text"
												   name="aws_credentials_key"
												   required="true"
												   value="{{aws_credentials_key}}"
											/>
										</div>
									</div>
									<div class="col-md-5">
										<div class="form-group">
											<label class="control-label">
												Secret<star>*</star>
											</label>
											<!--     IMPORTANT! - the "bootstrap select picker" is not compatible with jquery.validation.js, that's why we use the "default select" inside this wizard. We will try to contact the guys who are responsibble for the "bootstrap select picker" to find a solution. Thank you for your patience.
											 -->
											<input class="form-control"
												   type="text"
												   name="aws_credentials_secret"
												   required="true"
												   value="{{aws_credentials_secret}}"
											/>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-10 col-md-offset-1">
										<div class="form-group">
											<label class="control-label">
												Bucket<star>*</star>
											</label>
											<!--     IMPORTANT! - the "bootstrap select picker" is not compatible with jquery.validation.js, that's why we use the "default select" inside this wizard. We will try to contact the guys who are responsibble for the "bootstrap select picker" to find a solution. Thank you for your patience.
											 -->
											<input class="form-control"
												   type="text"
												   name="s3_bucket"
												   required="true"
												   value="{{s3_bucket}}"
											/>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab3">
								<h5 class="text-center">Provide the configurations by completing this wizard.</h5>
								<p class="text-center">Please start the athena service before completing this wizrd in AWS.</p>
								<div class="row">
									<div class="col-md-5 col-md-offset-1">
										<div class="form-group">
											<label class="control-label">
												Athena Directory<star>*</star>
											</label>
											<input class="form-control"
												   type="text"
												   name="athena_directory"
												   required="true"
												   value="{{athena_directory}}"
											/>
										</div>
									</div>
									<div class="col-md-5">
										<div class="form-group">
											<label class="control-label">
												Database<star>*</star>
											</label>
											<!--     IMPORTANT! - the "bootstrap select picker" is not compatible with jquery.validation.js, that's why we use the "default select" inside this wizard. We will try to contact the guys who are responsibble for the "bootstrap select picker" to find a solution. Thank you for your patience.
											 -->
											<input class="form-control"
												   type="text"
												   name="athena_database"
												   required="true"
												   value="{{athena_database}}"
											/>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab4">
								<h5 class="text-center">Provide the configurations by completing this wizard.</h5>
								<p class="text-center">Get the queue url from created sqs queue in AWS</p>
								<div class="row">
									<div class="col-md-10 col-md-offset-1">
										<div class="form-group">
											<label class="control-label">
												Queue URL<star>*</star>
											</label>
											<input class="form-control"
												   type="text"
												   name="sqs_notificationQueue"
												   required="true"
												   url="true"
												   value="{{sqs_notificationQueue}}"
												   placeholder="https://sqs.us-east-1.amazonaws.com/123456789012/oncloudtime"
											/>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab6">
								<h5 class="text-center">Provide the configurations by completing this wizard.</h5>
								<p class="text-center">Get the ARN for the default SNS Topic AWS</p>
								<div class="row">
									<div class="col-md-10 col-md-offset-1">
										<div class="form-group">
											<label class="control-label">
												Topic ARN<star>*</star>
											</label>
											<input class="form-control"
												   type="text"
												   name="sns_general_topic"
												   required="true"
												   value="{{sns_general_topic}}"
												   placeholder="arn:aws:sns:us-east-1:123456789012:oncloudtime-global"
											/>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card-footer">
						<button type="button" class="btn btn-default btn-fill btn-wd btn-back pull-left">Back</button>
						<button type="button" class="btn btn-info btn-fill btn-wd btn-next pull-right">Next</button>
						<button type="button" class="finish btn btn-info btn-fill btn-wd btn-finish pull-right" >Finish</button>
						<div class="clearfix"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock body %}
{% block custom_javascript %}
<script type="text/javascript">
        $(document).ready(function(){
			demo.initWizard();
            $(document).on('click','.finish', function(){
                $('#wizardForm').submit();
            });
		});
	</script>
{%  endblock custom_javascript %}