<div class="card">
    <div class="card-content">
        <div class="table-responsive">
            <table class="table ">
                <thead>
                <tr>
                    <th>Action</th>
                    <th>State</th>
                    <th>Code</th>
                    <th>Effective Date</th>
                    <th class="text-right">Sales Txn </br>Threshold</th>
                    <th class="text-right">Sales Dollars<br>Threshold</th>
                    <th class="text-right">Nearing Txn </br>Threshold</th>
                    <th class="text-right">Nearing Dollars </br>Threshold</th>
                </tr>
                </thead>
                <tbody>
                {% set increment = 0 %}

                {% for stateguide in stateguides %}

                    {% set increment = increment + 1 %}
                    <tr>
                        <td>
                            <a class="view" href="javascript:void(0);" data-location="viewnexusmetadata?id={{stateguide.id}}">
                                <i class="ti-eye" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td>
                            {{ stateguide.state }}
                        </td>
                        <td>
                            {{ stateguide.code }}
                        </td>
                        <td>
                            {{ stateguide.effectivedate|date(date_format) }}
                        </td>
                        <td class="text-right">
                            {{ stateguide.salestransactionsthreshold ? stateguide.salestransactionsthreshold|number_format(0) }}
                        </td>
                        <td class="text-right">
                            {{ stateguide.salesdollarsthreshold ? stateguide.salesdollarsthreshold|number_format(2) }}
                        </td>
                        <td class="text-right">
                            {{ stateguide.nearingtransactioncountthreshold ? stateguide.nearingtransactioncountthreshold|number_format(0) }}
                        </td>
                        <td class="text-right">
                            {{ stateguide.nearingsalesthreshold ? stateguide.nearingsalesthreshold|number_format(2) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div><!--  end card  -->
</div>