<div class="card">
    <div class="card-content">
        <div class="table-responsive">
            <table class="table ">
                <thead>
                <tr>
                    <th>Action</th>
                    <th>Project</th>
                    <th>Task</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
                </thead>
                <tbody>
                {% set increment = 0 %}

                {% for task in tasks %}

                    {% set increment = increment + 1 %}
                    <tr>
                        <td>
                            <a class="edit" href="javascript:void(0);" data-location="edittask?id={{task.id}}" >
                                <i class="ti-pencil" aria-hidden="true"></i>
                            </a>
                            <a class="view" href="javascript:void(0);" data-location="viewtask?id={{task.id}}">
                                <i class="ti-eye" aria-hidden="true"></i>
                            </a>
                                <a href="#{{ task.id }}-delete" data-target="#{{ task.id }}-delete" data-toggle="modal" title="Delete Task">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                                <div class="modal fade" tabindex="-1" id="{{ task.id }}-delete" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close cls" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Delete Task Confirmation</h4>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to delete the task '{{ task.title }}'?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn delete-task btn-secondary" data-dismiss="modal" data-location="deletetask?id={{task.id}}" data-query="{{ task.title}}">Yes</button>
                                                <button type="button" class="btn btn-secondary cls" data-dismiss="modal">No</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </td>
                        <td>
                            <a class="btn-link" data-toggle="modal" href="#{{task.id}}-project" data-target="#{{task.id}}-project">
                                {{ task.project_title | truncate(tables_long_text_display_characters) }}
                            </a>

                            <div class="modal fade" tabindex="-1" role="dialog" id="{{task.id}}-project">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">Project</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ task.project_title }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </td>
                        <td>
                            <a class="btn-link" data-toggle="modal" href="#{{task.id}}-title" data-target="#{{task.id}}-title">
                                {{ task.title | truncate(tables_long_text_display_characters) }}
                            </a>

                            <div class="modal fade" tabindex="-1" role="dialog" id="{{task.id}}-title">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title">Title</h4>
                                        </div>
                                        <div class="modal-body">
                                            {{ task.title }}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </td>

                        <td>
                            {{ task.startdate|date(date_format) }}
                        </td>
                        <td>
                            {{  task.enddate | date(date_format) }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div><!--  end card  -->
</div>