<div class="modal-dialog">
    <div class="modal-content">
        <form id="createTask" method="post">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="create">Create</span> Task</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Title
                        <star>*</star>
                    </label>
                    <input value="{{ taskqueue.title }}" class="form-control" type="text" name="title"
                           data-rule-required="true" data-msg-required="Please enter the taskqueue title"/>
                </div>
                <div class="form-group">
                    <label class="control-label">Start Date
                        <star>*</star>
                    </label>
                    <input value="{{ taskqueue.startdate|date('Y-m-d') }}" class="form-control datepicker" type="text" name="startdate"
                           data-rule-required="true" data-msg-required="Please enter the start date of the taskqueue"/>
                </div>
                <div class="form-group">
                    <label class="control-label">End Date
                    </label>
                    <input value="{{ taskqueue.enddate|date('Y-m-d') }}" class="form-control datepicker" type="text" name="enddate" />
                </div>

                <div class="form-group">
                    <label class="control-label">Assignee
                    </label>
                    {%  if taskqueue.id is empty %}
                        {{ form_widget(form.assignee, {'full_name': 'assignee'}) }}
                    {%  else %}
                        {{ taskqueue.assignee }}
                        <input type="hidden" id="assignee" name="assignee" value="{{ taskqueue.assignee }}"/>
                    {%  endif %}
                </div>
                <div class="form-group">
                    <label class="control-label">Project
                    </label>
                    {%  if taskqueue.id is empty %}
                        {{ form_widget(form.project, {'full_name': 'project'}) }}
                    {%  else %}
                        {{ taskqueue.project }}
                        <input type="hidden" id="project" name="project" value="{{ taskqueue.project }}"/>
                    {%  endif %}
                </div>
                <div class="form-group">
                    <label class="control-label">Parent Task
                    </label>
                    {{ form_widget(form.parent, {'full_name': 'parent'}) }}
                    <input type="hidden" id="parent_val" value="{{ taskqueue.parent }}"/>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <input value="1" class="form-control" type="checkbox" name="istimesheettaskqueue" />
                        <label class="control-label">is Timesheet Task?
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Category
                    </label>
                    {{ form_widget(form.category, {'full_name': 'category'}) }}
                    <input type="hidden" id="category_val" value="{{ taskqueue.category }}"/>
                </div>

                <div class="category">
                    <star>*</star>
                    Required fields
                </div>
                <div class="error" id="error_contents"></div>
                <input type="hidden" name="id" value="{{ taskqueue.id }}"/>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cls" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary create">Create</button>
                <button id="working" class="btn btn-simple hide pull-right">
                    <i class="fa fa-refresh fa-spin fa-3x"></i>
                </button>
            </div>
        </form>
    </div>
</div>