{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" data-color="white">
        <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3 text-center">
                        <img id="login-logo" src="{{  asset('img/'~asset_image_login) }}"  />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                            <div class="card" data-background="color" data-color="orange">
                                <div class="card-header">
                                    <h3 class="card-title">Login</h3>
                                </div>
                                <div class="card-content">
                                {{ form_start(form) }}
                                {{ form_errors(form) }}
                                {{ form_row(form.email) }}
                                {{ form_row(form.password) }}
                                    <div class="card-footer text-center">
                                        <button type="submit" class="btn btn-fill btn-wd ">Login</button>
                                        <div class="forgot">
                                            <a href="{{ url('forgot_password') }}">Forgot your password?</a>
                                        </div>
                                    </div>
                                {{ form_end(form) }}
                                </div>
                                {% for message in app.flashes('success') %}
                                    <div class="alert-notice">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}